/build/
/TWPatch.3dsx
/TWPatch.elf
/TWPatch.smdh
*.mp4
/data/dummy.bin
/mkpatch_a.h
/mkpatch_b.exe
/mkpatch_b.zip
/RTDS/
/fontest_orig.S
/fonttest_orig.c
/bswap.py
/divmod.S
/fbsetup.txt
/lzdemo.c
/lzdemo.exe
/patest.bat
/TWPatch.cia
/*.bin
/*.cxi
/*.firm
/sha256.c
/kldtest.bat
/krntest.bat
/ehook.S
